<ion-card>
    <ion-card-header>
      <ion-card-subtitle>Here to support you in purchasing trees or gardening supplies</ion-card-subtitle>
      <ion-card-title>Plant A Tree</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Plant a tree is a application which allows you to view and purchase your everyday gardening goods and supplies,
      allowing you to view specials aswell as tips on how to develop/landscaping. 
    </ion-card-content>
  </ion-card>
  
  <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Providing users with helpful tips and daily news</ion-card-subtitle>
        <ion-card-title>Tips and News</ion-card-title>
      </ion-card-header>
      <ion-card-content>
          1. Soak
          Soak the tree while you work to ensure the root ball is soaked through, as a dry root ball could reject water from the surrounding soil.
          2. Dig
          It’s important to dig a hole that’s at least twice the size of the existing root ball of the tree. Depth is more important than width in most cases.
          3. Improve
          Improve your soil to help the plant survive in the long-term. In clay soils, add some gypsum to improve the soil structure and drainage, and well-rotted compost to provide organic matter and further structure. 
          4. Decant
          Take the plant out of its pot in a way that keeps the roots as intact as possible. Root disturbance in healthy stock will shock the plant. 
          5. Plant
          Place the plant in the hole, and back-fill it with soil to cover the roots. Make sure the soil around the plant is firm.
          6. Water
          Water the plant in. This ensures that the soil settles around the plant, and the roots get good contact with the soil. It also provides an important first drink if the soil is otherwise dry, and provides deeper moisture even if it is already damp.
        
      </ion-card-content>
    </ion-card>
  
  <ion-card>
    <ion-item href="/cart" class="activated">
      <ion-icon name="cart" slot="start"></ion-icon>
      <ion-label>Cart</ion-label>

    </ion-item>
  
    <ion-item href="/specials">
      <ion-icon name="logo-usd" slot="start"></ion-icon>
      <ion-label>Specials</ion-label>
    </ion-item>
  
    <ion-item href="/login">
      <ion-icon name="walk" slot="start"></ion-icon>
      <ion-label>Logout</ion-label>
    </ion-item>
  </ion-card>