<ion-header>
  <ion-toolbar>
  <ion-title>Specials</ion-title>
  </ion-toolbar>
  <ion-card>
    
    <ion-card-header>
      <ion-card-subtitle>60cm Sweet Bay Tree - Laurus nobilis</ion-card-subtitle>
       <ion-card-title>Tree special</ion-card-title>
       </ion-card-header>
       <ion-card-content>
         LOW PRICE $39.97 <br>
         Sweet Bay Tree. Strongly aromatic foliage, which is used as a flavoursome seasoning in a range of savoury dishes. Hardy, evergreen and drought resistant. Great for growing in containers. Plant near the kitchen for quick picking. Suitable for coastal areas.
         Great for growing in containers
         Bay leaves for cooking
         Hardy
         Evergreen
         Drought resistant
        </ion-card-content>
      <ion-item href="/cart" class="activated">
        <ion-icon name="cart" slot="start"></ion-icon>
        <ion-label>Purchase</ion-label>
      </ion-item>
</ion-card>

<ion-card>
    <ion-card-header>
      <ion-card-subtitle>3.3L Olive Tree 'Koroneki' - Olea europaea</ion-card-subtitle>
       <ion-card-title>Tree special</ion-card-title>
       </ion-card-header>
       <ion-card-content>
         LOW PRICE $39.97
         A self fertile olive tree from Greece that produces heavy crops of smaller fruit with a high oil content and great flavour from an early age. Has a natural resistance to peacock spot. Tolerant of dry and windy conditions once established.
         Heavy crops of olives
         High oil content
         Self fertile
         Tolerant of dry and wind once established
         Fruits from an early age
        </ion-card-content>
        <ion-item href="/cart" class="activated">
          <ion-icon name="cart" slot="start"></ion-icon>
          <ion-label>Purchase</ion-label>
        </ion-item>
</ion-card>


<ion-card>
    <ion-card-header>
      <ion-card-subtitle>Saxon Garden Tool Set - 4 Piece</ion-card-subtitle>
       <ion-card-title>Gardening Tools</ion-card-title>
       </ion-card-header>
       <ion-card-content>
        LOW PRICE $14.98
        The Saxon 4 piece garden tool set includes a hand trowel, hand transplanter, hand fork and a hand cultivator.
        Ideal for a variety of tasks including digging holes, loosening soil, transplanting and more.
        Carbon steel head
        Comfort-grip wooden handle
        Hang holes for convenient storage
        </ion-card-content>
        <ion-item href="/cart" class="activated">
          <ion-icon name="cart" slot="start"></ion-icon>
          <ion-label>Purchase</ion-label>
        </ion-item>
</ion-card>


<ion-card>
    <ion-card-header>
      <ion-card-subtitle>Saxon Garden Tool Set - 4 Piece</ion-card-subtitle>
       <ion-card-title>Gardening Tools</ion-card-title>
       </ion-card-header>
       <ion-card-content>
        LOW PRICE $14.98
        The Saxon 4 piece garden tool set includes a hand trowel, hand transplanter, hand fork and a hand cultivator.
        Ideal for a variety of tasks including digging holes, loosening soil, transplanting and more.
        Carbon steel head
        Comfort-grip wooden handle
        Hang holes for convenient storage
        </ion-card-content>
        <ion-item href="/cart" class="activated">
          <ion-icon name="cart" slot="start"></ion-icon>
          <ion-label>Purchase</ion-label>
        </ion-item>
</ion-card>

<ion-card>
    <ion-card-header>
      <ion-card-subtitle>Trojan Chipping Hoe</ion-card-subtitle>
       <ion-card-title>Gardening Tools</ion-card-title>
       </ion-card-header>
       <ion-card-content>
        LOW PRICE $24.99
        Also known as a Burr Hoe, this general purpose hoe is great for heavy duty clearing and cultivating. Suitable for braking up soil, clearing and chopping weeds.
         Ideal for heavy duty clearing and breaking up soil
         Fully forged head to withstand the most rugged use
         Ground cutting edge for easy chopping
        </ion-card-content>
        <ion-item href="/cart" class="activated">
          <ion-icon name="cart" slot="start"></ion-icon>
          <ion-label>Purchase</ion-label>
        </ion-item>
</ion-card>
</ion-header>

<ion-content>

</ion-content>
